h1 {
  color: maroon;
  text-align: center;
}
h2 {
  color: blue;
  text-align: center;
}
body{
  background-image: scr="image//image.jpg";
  background-size: auto;
  background-color: gray;
}
img {
  float: left;
}
ul {
  line-height: 30px;
  font-style: italic;
}
.side-bar{
  float: right;
  width: 35%;
}
